---
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: testazurelustre.csi.azure.com
provisioner: azurelustre.csi.azure.com
parameters:
  mgs-ip-address: "{lustre_mgs_ip}"
  fs-name: "{lustre_fs_name}"
  #sub-dir: "longhaul/${pvc.metadata.name}"
  #retain-sub-dir: "true"
mountOptions:
  - noatime
  - flock
