---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: csi-azurelustre-controller
  namespace: kube-system
spec:
  replicas: 2
  selector:
    matchLabels:
      app: csi-azurelustre-controller
  template:
    metadata:
      labels:
        app: csi-azurelustre-controller
    spec:
      hostNetwork: true
      serviceAccountName: csi-azurelustre-controller-sa
      nodeSelector:
        kubernetes.io/os: linux  # add "kubernetes.io/role: master" to run controller on master node
      priorityClassName: system-cluster-critical
      tolerations:
        - key: "node-role.kubernetes.io/master"
          operator: "Exists"
          effect: "NoSchedule"
        - key: "node-role.kubernetes.io/controlplane"
          operator: "Exists"
          effect: "NoSchedule"
        - key: "node-role.kubernetes.io/control-plane"
          operator: "Exists"
          effect: "NoSchedule"
      containers:
        - name: csi-provisioner
          image: mcr.microsoft.com/oss/kubernetes-csi/csi-provisioner:v3.6.0
          args:
            - "-v=2"
            - "--csi-address=$(ADDRESS)"
            - "--leader-election"
            - "--timeout=60s"
            - "--extra-create-metadata=true"
          env:
            - name: ADDRESS
              value: /csi/csi.sock
          volumeMounts:
            - mountPath: /csi
              name: socket-dir
          resources:
            limits:
              cpu: 100m
              memory: 300Mi
            requests:
              cpu: 10m
              memory: 20Mi
        - name: liveness-probe
          image: mcr.microsoft.com/oss/kubernetes-csi/livenessprobe:v2.9.0
          args:
            - --csi-address=/csi/csi.sock
            - --probe-timeout=120s
            - --health-port=29762
          volumeMounts:
            - name: socket-dir
              mountPath: /csi
          resources:
            limits:
              cpu: 100m
              memory: 100Mi
            requests:
              cpu: 10m
              memory: 20Mi
        - name: azurelustre
          image: mcr.microsoft.com/oss/kubernetes-csi/azurelustre-csi:v0.1.15
          imagePullPolicy: IfNotPresent
          args:
            - "-v=5"
            - "--endpoint=$(CSI_ENDPOINT)"
          ports:
            - containerPort: 29762
              name: healthz
              protocol: TCP
          # Reserved port for metrics
          # - containerPort: 29764
          #   name: metrics
          #   protocol: TCP
          livenessProbe:
            failureThreshold: 5
            httpGet:
              path: /healthz
              port: healthz
            initialDelaySeconds: 60
            timeoutSeconds: 10
            periodSeconds: 30
          env:
            - name: CSI_ENDPOINT
              value: unix:///csi/csi.sock
            - name: AZURELUSTRE_CSI_INSTALL_LUSTRE_CLIENT
              value: "no"
          securityContext:
            privileged: true
          volumeMounts:
            - mountPath: /csi
              name: socket-dir
            - mountPath: /etc/kubernetes/
              name: azure-cred
            - mountPath: /etc/host-os-release
              name: host-os-release
          resources:
            limits:
              cpu: 1
              memory: 200Mi
            requests:
              cpu: 10m
              memory: 20Mi
      volumes:
        - name: socket-dir
          emptyDir: {}
        - name: azure-cred
          hostPath:
            path: /etc/kubernetes/
            type: DirectoryOrCreate
        - name: host-os-release
          hostPath:
            path: /etc/os-release
            type: File
