---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: scale-pv-lustre
spec:
  accessModes:
    - ReadWriteMany
  capacity:
    storage: 4Ti
  csi:
    driver: ${csi_name}
    volumeAttributes:
      fs-name: ${fs_name}
      mgs-ip-address: ${mgs_ip_address}
      sub-dir: "longhaul/${pod.metadata.name}"
      retain-sub-dir: "false"
    volumeHandle: scale-pv-lustre#${fs_name}#${mgs_ip_address}#longhaul/${pod.metadata.name}#false
  persistentVolumeReclaimPolicy: Retain

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: scale-pvc-lustre
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 100Mi
  volumeName: scale-pv-lustre
  storageClassName: ""

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: scale-test-set
spec:
  replicas: ${scale}
  selector:
    matchLabels:
      app: csi-scale-test
  template:
    metadata:
      labels:
        app: csi-scale-test
    spec:
      containers:
        - image: busybox
          name: lustre-echo-date
          command:
            - "/bin/sh"
            - "-c"
            - while true;
              do
                echo $(date) >> /mnt/lustre/outfile_$(POD_NAME);
                sleep 10;
              done
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
          volumeMounts:
            - name: lustre-test-volume
              mountPath: "/mnt/lustre"
          resources:
            requests:
              memory: 100M
              cpu: 10m
            limits:
              memory: 100M
              cpu: 10m
      volumes:
        - name: lustre-test-volume
          persistentVolumeClaim:
            claimName: scale-pvc-lustre
